flow.json
[{"id":"ffc61a0c.49b1c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b802138.0def4e","type":"inject","z":"ffc61a0c.49b1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["3d9a06a9.0ea7fa"]]},{"id":"3d9a06a9.0ea7fa","type":"function","z":"ffc61a0c.49b1c8","name":"","func":"msg.payload = \"Hello world!\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["ffe6e416.796078"]]},{"id":"ffe6e416.796078","type":"debug","z":"ffc61a0c.49b1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":220,"wires":[]}]